@charset "utf-8";

// ============================================= *
//                                                *
//  ナビゲーションバー                               *
//                                                *
// ============================================= */
.navbar {
    &_head {
        margin: {
            top: 0;
            bottom: 0;
        }
    }
}