// ============================================= *
//                                               *
// 全体                                           *
//                                               *
// ============================================= */
.breadcrumb {
    list-style: none outside;
    margin-bottom: 1.2rem;
    li {
        display: inline-block;
        &:not(:last-of-type) {
            &:after {
                content: "/";
                margin: {
                    left: 0.4rem;
                    right: 0.1rem;
                }
            }
        }
    }
}
// ============================================= *
//                                               *
// ヘッダ                                         *
//                                               *
// ============================================= */
.navbar {
    padding: 0 15px;
    width: calc(100% - 30px);
    background-color: $bg-color;
    &_fixedtop {
        position: fixed;
        left: 0;
        top: 0;
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
     &_head {
        font: {
            size: 1.98rem;
            family: "Great Vibes", cursive; /* googleフォント */
            weight: normal;
        }
        flex-basis: 20%;
        margin: 15px;
        a {
            &, &:link, &:visited, &:hover, &:active, &:focus {
                color: $main-color;
            }
            &:hover, &:active, &:focus {
                text-decoration: none;
                color: $main-color2;
            }
        }
    }
    &_menu {
        flex-basis: 80%;

        display: flex;
        justify-content: flex-end; //right
        align-items: center;
        flex-flow: row nowrap;

        list-style: none outside;
        li {
            padding: 0 15px;
        }
    }
} 
// ============================================= *
//                                               *
// メインコンテンツ                                 *
//                                               *
// ============================================= */
.main {
    padding: 15px;
    p {
        margin: {
            top: 0.6rem;
            bottom: 0.6rem;
        }
    }
}
// ============================================= *
//                                               *
// トップページ                                    *
//                                               *
// ============================================= */
.indexPage {
    .news {
        &_list {
            list-style: none outside;
            margin-bottom: 1rem;
            &Item {
                padding: {
                    left: 1rem;
                    right: 1rem;
                    bottom: 1rem;
                }
                border: {
                    top: 1px solid $link-color;
                    left: 1px solid $link-color;
                    right: 1px solid $link-color;
                    radius: 4px;
                }
                p {
                    margin: {
                        top: 0.2rem;
                        bottom: 0.2rem;
                    }
                }
            }
            &:last-of-type {
                border-bottom: 1px solid $link-color;
            }
        }
        &_header {
            margin: {
                top: 0.6rem;
                bottom: 0.2rem;
            }
        }
    }
}
// ============================================= *
//                                               *
// 新着情報                                       *
//                                               *
// ============================================= */
.newsPage
    .news {
        &_article {
            padding: {
                left: 1rem;
                right: 1rem;
                bottom: 1rem;
            }
            border: {
                top: 1px solid $link-color;
                left: 1px solid $link-color;
                right: 1px solid $link-color;
                radius: 4px;
            }
            p {
                margin: {
                    top: 0.2rem;
                    bottom: 0.2rem;
                }
            }
            &:last-of-type {
                border-bottom: 1px solid $link-color;
                margin-bottom: 1rem;
            }
        }
        &_contents {
            ul {
                padding-left: 1rem;
            }
        }
        .pagination {
            list-style: none outside;
            margin: {
                top: 1rem;
                bottom: 1rem;
            }
            li {
                display: inline-block;
                padding: 10px 15px;
                border: 1px solid $link-color;
                border-radius: 2px;
                margin: 0;
            }
        }
    }
}